@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4a4a4a; /* Warna teks default */
  background-color: #ffffff; /* Latar belakang putih */
  margin: 0;
  padding: 0;
}
